.header
  %div.container-impacto
    %div.row
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title
              %a{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
                Resultado de Impacto
          #collapseOne.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel"}
            .panel-body
              = render 'shared/diagnostics/impact', :locals => {:has_bussine => session[:has_bussine],
                                                    :impacto_usuario => session[:impacto_usuario], 
                                                    :has_siapem => session[:has_siapem],
                                                    :has_special_license => session[:has_special_license]}         
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo", :role => "button"}
                Resultado de Uso de suelo
          #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
            .panel-body
              = render 'shared/diagnostics/zoning', :locals => {:has_siapem => session[:has_siapem], :date_siapem => session[:date_siapem], :has_zoning => session[:has_zoning],:date_zoning => session[:date_zoning], :is_business_home => session[:is_business_home], :uso_de_suelo => session[:uso_de_suelo], :size_business=> session[:size_business]} 
        .panel.panel-default
          #headingThree.panel-heading{:role => "tab"}
            %h4.panel-title
              %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree", :role => "button"}
                Resultado de Seguridad y otros
          #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
            .panel-body
              = render 'shared/diagnostics/safety', :locals => {:has_autodiagnostico => session[:has_autodiagnostico],
              :vobo_seguridad => session[:vobo_seguridad],
              :has_protection => session[:has_protection],
              :make_protection => session[:make_protection],
              :license_ambiental => session[:license_ambiental],
              :license_sanitaria => session[:license_sanitaria],
              :no_adeudos => session[:no_adeudos],
              :aforo => session[:aforo],
              :impacto_usuario => session[:impacto_usuario]}