$pink: #E6007E;
$purple: #871C57;
$light-gray: #F6F6F6;
$dark-gray: #CBCBCB;
$input-gray: #AFAFAF;
$btn-primary-bg: #E6007E;
$back-gray-dark: #EEEEED;
$color-black: #000000;
$color-white: #ffffff;
$text-modal: #333333;


colorprimario{
  color: #E6007E  !important;
}
blanco{
  color: #ffffff  !important;
}
negro{
   color: #000000  !important; 
}

negro-gray{
   color: #333333  !important; 
}

.pink{
	color: $pink !important;
}
.background-pink{
	background-color: $pink;
}
.purple{
	color: $purple !important;
}

.light-gray{
	color: $light-gray !important;
}

.dark-gray{
	color: $dark-gray !important;
}

.input-gray{
	color: $input-gray !important;
}

.btn-primary-bg{
	color: $btn-primary-bg !important;
}

.black{
	color: $color-black !important;
}

.white{
	color: $color-white !important;
}

u{
	color: $pink !important;
}
