@import "landing_media.scss";
@import "landing_mobile.scss";

.back-image-landing {
  display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(image_path('bg.png')) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container-laanding {
  width:100%;
  height:50% !important;
}

.landing-menu-icons {
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: left;
  
}

.landing-text-left {
  /*padding-top: 100px;*/
  padding-bottom: 0px;
  text-align: left;
  font-size: 20px !important;
}

.btn-padding {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.half-size {
    height: 50% !important;
}

.half-width {
    width: 50% !important;
}

.all-size {
    width: 100% !important;
    height: 17% !important;
    margin-left: auto;
    margin-right: auto
}

.main {
    position: relative !important;
    min-height: 100% !important;
  }

.footer {
    width: 100% !important;
    position:absolute;
    bottom:10px;
    left:0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px !important;
    color: #ffffff !important;
}


.logo-landing {
    width: 60% !important;
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto

}

.logo-nabvar {
    width: 20% !important;
}

.navbar-brand>img {
   max-height: 80%;
    height: 60px !important;
   width: auto;
   margin: 0 auto;
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 
}

.paddingtop-iconlading {
  padding-top: 3em;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px !important;
}

.padding-bottom-modal {
  padding-bottom: 2em;
}