/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- Web ----------- */
@media (min-width: 319px) {
	.navbar-brand>img {
    padding-top:5px;
	  max-height: 35%;
	  padding: 0!important;
	  height:auto;
	  width:  auto;
	  margin: 0 auto;
	  /* probably not needed anymore, but doesn't hurt */
	  -o-object-fit: contain;
	  object-fit: contain; 
    margin-top: 15px;
    margin-left: 5px;
	}

  .navbar-brand {
    float: left;
    padding: 0px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
  }

  .logo-landing {
    width: 90% !important;
    padding-bottom: 10px;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto

  }

  .bcorner {
    border-radius: 20px;
    border: 2px solid #ffffff;
    fill: #ffffff;
    padding: 20px;
    display: table;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  .text-landing {
    font-size: 33px;
    margin-bottom: 20px;
  }

  .text-title-landing {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 100;
  }

  .title-menu-icons {
    font-size: 18px !important;
    padding-top: 8px;
    color: #E6007E;
  }

  .subtitle-menu-icons {
    font-size: 15px !important;
    color: #000000;
  }
}

  @media (min-width: 768px) {
	  .navbar-brand>img {
	   max-height: 70%;
	   padding-top:5px;
	   height: auto;
	   width: auto;
	   margin: 0 auto;
	   /* probably not needed anymore, but doesn't hurt */
	   -o-object-fit: contain;
	   object-fit: contain; 
	}

  .navbar-brand {
    float: left;
    padding: 15px !important;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
  }

  .logo-landing{
    width: 60% !important;
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto

  }

  .bcorner {
    border-radius: 20px;
    border: 2px solid #ffffff;
    fill: #ffffff;
    padding: 20px;
    display: table;
    width: 95px;
    height: 95px;
    margin: 0 auto;
  }


  .text-title-landing {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
  }

  .text-landing {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .title-menu-icons {
    font-size: 20px !important;
    padding-top: 8px;
    color: #E6007E;
  }

  .subtitle-menu-icons {
    font-size: 15px !important;
    color: #000000;
  }
}
  
  @media (min-width: 1024px){
	.navbar-brand>img {
	   max-height: 80%;
	   padding-top:5px;
	   height: auto;
	   width:  auto;
	   margin: 0 auto;
	   /* probably not needed anymore, but doesn't hurt */
	   -o-object-fit: contain;
	   object-fit: contain; 
	}

  .navbar-brand {
    float: left;
    padding: 15px !important;
    font-size: 19px;
    line-height: 21px;
    height: 60px;
  }

  .logo-landing {
    width: 60% !important;
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto

  }

  .bcorner {
    border-radius: 20px;
    border: 2px solid #ffffff;
    fill: #ffffff;
    padding: 20px;
    display: table;
    width: 95px;
    height: 95px;
    margin: 0 auto;
  }

  .text-title-landing {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
  }

  .text-landing {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .title-menu-icons {
    font-size: 20px !important;
    padding-top: 8px;
    color: #E6007E;
  }

  .subtitle-menu-icons {
    font-size: 15px !important;
    color: #000000;
  }
}