%div.container-laanding
  %div.col-md-12
    %div.col-md-12.landing-text-left
      .col-md-10.col-md-offset-1
        =image_tag("logo-rosa.svg", :class=>"logo-landing")
    %div.col-md-12.back-image-landing
      .col-md-10.col-md-offset-1.text-center.white
        %div.text-title-landing
          =t('.textmain')
        %div.row.col-md-12
          %div.col-md-4
          %div.col-md-4.text-landing
            =t('.textmain_clic')
            =link_to impact_index_path do
              %div.paddingtop-iconlading
                =image_tag(prod_img_full('centro-lan'), :class=>"bcorner")
                .col-md-12
                  %div.text-center.white
                    =t('.button_text_html')
          %div.col-md-4
          
            =#link_to t('.button_text'), impact_index_path, :class=>'btn btn-default btn btn-primary btn-block btn-padding','data-no-turbolink' => true, onclick: "ga('send', 'event', 'diagnostic', 'begin', '');"
  
  %div.row.col-md-12
    %div.col-md-4
      =link_to appointments_path do  
        %div.col-md-12.landing-menu-icons
          .col-md-12
            =image_tag(prod_img_full('cita'), :class=>"rcorner")
          .col-md-12
            %div.title-menu-icons.text-center
              =t('.menu.agenda_titulo')
          .col-md-12
            %div.subtitle-menu-icons.text-center
              =t('.menu.agenda_description_html')
    %div.col-md-4
      =link_to learning_center_index_path do
        %div.col-md-12.landing-menu-icons
          .col-md-12
            =image_tag(prod_img_full('centro-lan'), :class=>"rcorner")
          .col-md-12
            %div.title-menu-icons.text-center
              =t('.menu.centro_titulo')
          .col-md-12
            %div.subtitle-menu-icons.text-center
              =t('.menu.centro_description_html')
    %div.col-md-4
      = link_to  "#", :id => 'login', "data-target" => "#myModal", "data-toggle" => "modal" do
        %div.col-md-12.landing-menu-icons
          .col-md-12
            =image_tag(prod_img_full('ayuda-lan'), :class=>"rcorner")
          .col-md-12
            %div.title-menu-icons.text-center
              =t('.menu.ayuda_titulo')
          .col-md-12
            %div.subtitle-menu-icons.text-center
              =t('.menu.ayuda_description_html')
    %div.col-md-12.all-size
      .footer.text-center.dark-gray
        =t('.text_footer')



#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title= image_tag("logo.svg", :class=> "half-width")
      .modal-body
        =t('.text_modal')
        =link_to t('appointment.show_notice_of_privacy'), asset_path("pdf/aviso.pdf"), class: "pink"
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          =t('.close')
             