/* ----------- iPhone 4 and 4S - iPhone 5 and 5S y 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {


    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }

    .text-help {
      font-size: 3em !important;
    }
  
    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .scroll-footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 150px;
      z-index: 300;
      background-color: #EEEEED;
      display: none;
    }

  

    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }

    .text-help {
      font-size: 3em !important;
    }

    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .scroll-footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 150px;
      z-index: 300;
      background-color: #EEEEED;
    }

    
    
    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }
    
    .text-help {
      font-size: 3em !important;
    }
    
    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    
    .scroll-footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 150px;
      z-index: 300;
      background-color: #EEEEED;
      display: none;
    }

    
    
    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }

    .text-help {
      font-size: 3em !important;
    }
    
    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}

/* ----------- Galaxy S4, S5 y HTC----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    .scroll-footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 150px;
      z-index: 300;
      background-color: #EEEEED;
    }

    

    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }

    .text-help {
      font-size: 3em !important;
    }
    
    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}


/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

    .scroll-footer{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0px;
      height: 150px;
      z-index: 300;
      background-color: #EEEEED;
      display: none;
    }

    

    .fa-times{
      font-size: 6em !important;
      margin-left: -40px;
    }

    .text-help {
      font-size: 3em !important;
    }

    .sidebar-nav li {
      text-indent: 0px;
      line-height: 40px !important;
      padding-right: 1.5em;
    }

}

