.nav.navbar.navbar-default
  %div.container
    %div.navbar-header.page-scroll
      %button{:type=>"button", :class=>"navbar-toggle", :data=>{:toggle=>"collapse", :target=>"#bs-example-navbar-collapse-1"}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %div.navbar-brand
        = image_tag("logo.svg",class: "img-responsive")
    %div.collapse.navbar-collapse{:id=>"bs-example-navbar-collapse-1"}
      %ul.navbar-nav.navbar-right.margin-top
        %li.page-scroll
          %a.navbar-brand{:href=>"#{root_path}"}
            %div.page-scroll.small-text.padding-icon-navbar
              =t('button.inicio')