<div class="scroll-footer">
  <div class="col-md-8 col-md-offset-2 margin-top">
    <div class="row">
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value">Impacto: 70%</span>
        <div class="progress-bar" style="width: 70%;"></div>
      </div>
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value">Uso de suelo: 0%</span>
        <div class="progress-bar" style="width: 0%;"></div>
      </div>
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value">Protección civil: 0%</span>
        <div class="progress-bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>