<div class="scroll-footer margin-top">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="row">
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value"><%="Impacto: #{@impacto_count}%"%></span>
        <div class="progress-bar" style=<%="width:#{@impacto_count}%;"%>></div>
      </div>
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value">Uso de suelo: 0%</span>
        <div class="progress-bar" style="width: 0%;"></div>
      </div>
      <div class="col-md-4 progress sin-padding">
        <span class="progress-value">Protección civil: 0%</span>
        <div class="progress-bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>