%div.scroll-navbar
	%div.col-md-12
		%div.row.col-md-12.text-center.sin-padding
			%div.col-md-8.col-md-offset-2.text-title-tree.sin-padding
				= "#{title}"
			%div.col-md-8.col-md-offset-2.text-subtitle-tree.sin-padding
				= "#{text}"