#wrapper.toggled
  #sidebar-wrapper
    %ul.sidebar-nav
      %div#head_wrapper.wrapper-border
        %li.sidebar-brand
          .col-md-12.text-right
            %i#menu-toggleint.fa.fa-times.input-gray{:href => "#menu-toggleint"}
        %i.fa.fa-info-circle.fa-3x.pink  
        %div.pink.text-help
        Conceptos claves
        %div.text-center.pink.margin-top
          #{t('help.learning_html', path: learning_center_index_path)}
      %div.sidebar-nav-padding-top
        -if type == 'impact'
          %li
            = render "shared/questions/help",:help_type => get_help_impact 
        -elsif type == 'safety'
          %li
            = render "shared/questions/help",:help_type => get_help_safety
        -else type == 'zoning'
          %li
            = render "shared/questions/help",:help_type => get_help_zoning



:javascript
  $("#menu-toggleint").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });