.header
  %div.container-impacto.text-center
    %div.row
      %div.col-lg-12
        -@impacto["impacto"]["array_preguntas"]["pregunta"].each_with_index do |pregunta, index|
          -@respuestas_texto_array.clear
          -@respuestas_imagen_array.clear
          -@respuestas_siguiente_array.clear
          -@respuestas_rango_array.clear
          -@respuestas_id_array.clear
          
          -pregunta["array_respuestas"]["respuesta"].each do |respuestas|
            -@respuestas_texto_array << respuestas["texto"]
            -@respuestas_rango_array << respuestas["rangoinicial"]
            -@respuestas_siguiente_array << respuestas["siguiente"]
            -@respuestas_imagen_array << respuestas["imagen"]
            -@respuestas_id_array << respuestas["id"]

          -if pregunta["array_respuestas"]["tipo"] == "normal"
            = render 'shared/question_normal', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array, :hover => @respuestas_hover_array, :next => @respuestas_siguiente_array, :id => @respuestas_id_array}
          -elsif pregunta["array_respuestas"]["tipo"] == "fecha"
            = render 'shared/question_date', :locals => {:number => pregunta["numero"], :texto_question => pregunta["texto"],:texto_answer => @respuestas_texto_array,:imagen => @respuestas_imagen_array,:rangoinicial => @respuestas_rango_array, :next => @respuestas_siguiente_array}
    .div.diagnostic.hidden{:id=>"diagnostic"}         
      =render "shared/diagnostic", impacto: @tipo_de_impacto
    .div.margin-bottom-end-page  
      =render "shared/progressbar"




:javascript
  /*Obtenemos el tamaño maximo de ids en la vista*/
  var number_of_views = "#{@impacto["impacto"]["array_preguntas"]["pregunta"].size}";

  /*Cuando el documento carga se muestra la promer pregunta por defecto*/
  $(document).ready(function(){ 
    document.getElementById("1").removeAttribute("class");
  });
  
  /*Cuando se da clic a una opcion se obtiene el tama*/
  function buttonClick(actual, next){
    deleteAndFill(actual,next);
  }

  /*Se elimina la classe hidden para hacer visible el view y se actualizan los progress bar*/
  function hidden_div(id, impacto){
    if(id=="-3"){
      impacto = 100;
      $('.diagnostic').removeClass("hidden");
      $('.jumbotron').html('<H2 class="colorprimario">Impacto Zonal<H2>');
      
    }else{
     document.getElementById(id).removeAttribute("class");
    }
    //Actualizamos los progressBars
    $('.progress-impacto').text("Impacto: "+impacto+"%");
    $('.progress-impacto-css').css({'width': impacto+'%'});


  }

  /*Elimina todos los views despues del clickeado y con ajax muestra el siguiente view*/
  function deleteAndFill(actual,next){
    for(i = parseInt(actual)+1 ; i < number_of_views;i++){
      document.getElementById(i).setAttribute("class", "hidden");
    }

    $.ajax({
         type:'GET', 
         url: "#{root_path}",
         success: function(){
          //Centramos la siguiente pregunta
          window.scrollBy(0, 300);
         },
        error: function(){
        }, 
         data: $.param({ pagetime: {next: next, totals: number_of_views}})
    });
  }





