%div.margin-bottom-end-page
  .H1
    De acuerdo a tus respuestas, tu <colorprimario>USO DE SUELO</colorprimario> es:
  .jumbotron
    %h2.colorprimario
      = uso
  .div.col-md-4.col-md-offset-8
    .H3.text-right.next-step
    