%div.margin-bottom-end-page
  .H1
    <colorprimario>Gracias por tus respuestas</colorprimario>:
  .jumbotron
    %h2.colorprimario
      = safety
  .div.col-md-4.col-md-offset-8
    .H3.text-right.next-step