%div.margin-bottom-end-page
  .H2
    Gracias por sus respuestas de <colorprimario>IMPACTO y ESTATUS DE REGISTRO</colorprimario>
  .jumbotron
    %h2.colorprimario
      -unless impacto.blank?
        = impacto
  .div.col-md-4.col-md-offset-8
    .H3.text-right.next-step
    