%div.margin-bottom-end-page
  .H1
    <colorprimario>Gracias por tus respuestas</colorprimario>:
  .jumbotron
    %h2.colorprimario
      = safety
  .H3.text-right.next-step
    <colorprimario>Siguiente paso "Uso de suelo"</colorprimario> 
    =link_to root_path, :class=>"colorprimario" do
      %i.fa.fa-angle-right
    