%div.margin-bottom-end-page
  .H1
    De acuerdo a tus respuestas, tu <colorprimario>Negocio</colorprimario>:
  .jumbotron
    %h2.colorprimario
      = safety
  .H3.text-right.next-step
    <colorprimario>Siguiente paso "Uso de suelo"</colorprimario> 
    =link_to root_path, :class=>"colorprimario" do
      %span.glyphicon.glyphicon-chevron-right
    