@import "colors";

.appointments-calendar .ui-datepicker {
  border: none;
  width: 100%;
}

.appointments-calendar .ui-datepicker-header {
  background: none;
  border: none;
  text-transform: uppercase;
  color: $pink;
}

.appointments-calendar .ui-datepicker-calendar {
  border: 1px solid #cccccc;
  border-collapse: collapse;

  thead {
    text-transform: uppercase;
    color: #cccccc;

  }

  thead th {
    font-weight: normal;
    font-size: 0.8em;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  th, td {
    border: 1px solid #cccccc;
  }

  td {
    padding: 0;
  }
}

.appointments-calendar .ui-state-default {
  height: 100px;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;

  &.ui-state-active {
    border: none;
    background: $pink;
    background-image: url('iconos/si-m.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 30px;
  }
}

.appointments-calendar .ui-state-highlight {
  border: none;
  background: none;
}

.appointments-calendar .ui-icon.ui-icon-circle-triangle-e {
  background-image: url('iconos/arrow487.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.appointments-calendar .ui-icon.ui-icon-circle-triangle-w {
  background-image: url('iconos/arrowhead7.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.appointments-calendar .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

