.back-image-landing{
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(image_path('bg.png')) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.container-laanding
{
  width:100%;
  height:50% !important;
}

.landing-menu-icons{
	padding-top: 100px;
	padding-bottom: 0px;
	text-align: left;
	
}

.landing-text-left{
	/*padding-top: 100px;*/
	padding-bottom: 0px;
	text-align: left;
	

	font-size: 20px !important;
}
.title-menu-icons{
	font-size: 20px !important;
	padding-top: 8px;
  color: #E6007E;
}

.subtitle-menu-icons{
	font-size: 15px !important;
  color: #000000;
}


.btn-padding{
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}

.half-size{
    height: 50% !important;
}
.half-width{
    width: 50% !important;
}

.all-size{
    width: 100% !important;
    height: 45% !important;
    margin-left: auto;
    margin-right: auto
}
.main{
    position: relative !important;
    min-height: 100% !important;
  }

.footer {
    width: 100% !important;
    position:absolute;
    bottom:10px;
    left:0;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px !important;
    color: #ffffff !important;
}

.bcorner{
    border-radius: 20px;
    border: 2px solid #ffffff;
    fill: #ffffff;
    padding: 20px;
    display: table;
    width: 95px;
    height: 95px;
    margin: 0 auto;
}
.logo-landing{
    width: 60% !important;
    padding-bottom: 20px;
        display: block;
    margin-left: auto;
    margin-right: auto

}
.logo-nabvar{
    width: 20% !important;
}

.navbar-brand>img {
   max-height: 100%;
    height: 60px !important;
   width: auto;
   margin: 0 auto;
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px !important;
}