%div.margin-top-dropdown
  %div.row
    .col-md-5
      Superficie establecimiento
      %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle90"}
      =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '100.5',
      :onchange=> "valueAforo()",:id=>"superficie"
    .col-md-2
      .col-md-10.col-md-offset-1
        %hr.style-line
    .col-md-5
      Superficie mobiliario
      %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle91"}
      =text_field :date, "date", class: 'form-controler',:type=>"number", :placeholder => '45.5',
      :onchange=> "valueAforo()",:id=>"mobiliario"
  %hr.style-line
  %div.row  
    .col-md-12
      superficie giro
      %i.fa.fa-info-circle.input-gray{:href => "#menu-toggle",:id=>"menu-toggle92"}
      -if bajo_impacto?
        =select :date, "date", 
        Towns.load_aforo('bajo').each_with_index.collect {|opt| [opt[:label], opt[:id], opt[:name]]},{ include_blank: true , selected: false },:id=>"impacto", class: "chosen-select",:onchange=> "valueAforo('bajo')"
      -else
        =select :date, "date", 
        Towns.load_aforo('vecinal').each_with_index.collect {|opt| [opt[:label], opt[:id], opt[:name]]},{ include_blank: true , selected: false },:id=>"impacto", class: "chosen-select",:onchange=> "valueAforo('vecinal')"
%div.margin-top-dropdown.hidden{:id=>"diagnosticaforo"} 
  .jumbotron
    %h2.colorprimario
      ="Tu aforo es: #@aforo"